In [1]:
from bokeh.models import HoverTool, ColumnDataSource, Select, LinearColorMapper, ColorBar,BasicTicker, Legend, Range1d,LinearAxis
from bokeh.plotting import figure, output_file, show
from bokeh.palettes import Magma256
from bokeh.transform import transform, factor_cmap
from bokeh.models.widgets import RangeSlider, Dropdown, RadioButtonGroup, DataTable,DateFormatter, TableColumn
from bokeh.layouts import layout, column, widgetbox, row
from bokeh.io import show, curdoc
import pandas as pd
import numpy as np
import datetime
from datetime import date, timedelta
import time

In [2]:
master = pd.read_csv("master_table.csv",thousands=',')
del master["Unnamed: 0"]
master_source = ColumnDataSource(data=master)
master

,date,supply,open,close,high,low,market_cap,spread
0,2013-04-28,11086050.0,135.30,134.21,135.98,132.10,1488566728,3.88
1,2013-04-29,11086050.0,134.44,144.54,147.49,134.00,1603768865,13.49
2,2013-04-30,11098475.0,144.00,139.00,146.93,134.05,1542813125,12.88
3,2013-05-01,11098475.0,139.00,116.99,139.89,107.72,1298954594,32.17
4,2013-05-02,11098475.0,116.38,105.21,125.60,92.28,1168517495,33.32
...,...,...,...,...,...,...,...,...
2359,2019-10-13,17987287.5,8336.90,8321.01,8470.99,8276.61,149700817939,194.38
2360,2019-10-14,17992412.5,8320.83,8374.69,8390.21,8284.13,150680499056,106.08
2361,2019-10-15,17992412.5,8373.46,8205.37,8410.71,8182.71,147650082215,228.00
2362,2019-10-16,17992412.5,8204.67,8047.53,8216.81,7985.09,144823993562,231.72
2363,2019-10-17,17997987.5,8047.81,8103.91,8134.83,8000.94,145853994298,133.89

In [3]:
df = pd.read_csv("coin_market_cap.csv",thousands=',')
df.columns = ("date","open","high","low","close","volume","market_cap")
df = df.reindex(index=df.index[::-1])
df = df.reset_index(drop=True)

df["daily_return"] = df["close"].pct_change()
# df["date"].groupby(pd.Grouper(freq='M'))
df["date"] = pd.to_datetime(df["date"], format='%b %d, %Y')

x=0
day = []
while x<2364:
    day.append(df["date"][x].day)
    x = x+1
df["days"] = day
returns = df.loc[(df["days"]==1)]
# monthly_returns = returns["close"].pct_change()
returns["monthly_returns"] = returns["close"].pct_change()

bitcoin_returns = returns[["date","monthly_returns"]]
# del returns
bitcoin_returns = bitcoin_returns.reset_index(drop=True)
returns[["date","close"]].to_csv("bitcoin_monthly_price.csv")
del df["days"]
df.to_csv("bitcoin_master.csv")
df

C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,date,open,high,low,close,volume,market_cap,daily_return
0,2013-04-28,135.30,135.98,132.10,134.21,-,1488566728,NaN
1,2013-04-29,134.44,147.49,134.00,144.54,-,1603768865,0.076969
2,2013-04-30,144.00,146.93,134.05,139.00,-,1542813125,-0.038328
3,2013-05-01,139.00,139.89,107.72,116.99,-,1298954594,-0.158345
4,2013-05-02,116.38,125.60,92.28,105.21,-,1168517495,-0.100692
...,...,...,...,...,...,...,...,...
2359,2019-10-13,8336.90,8470.99,8276.61,8321.01,"13,808,286,059",149700817939,-0.001865
2360,2019-10-14,8320.83,8390.21,8284.13,8374.69,"15,151,387,859",150680499056,0.006451
2361,2019-10-15,8373.46,8410.71,8182.71,8205.37,"15,220,412,632",147650082215,-0.020218
2362,2019-10-16,8204.67,8216.81,7985.09,8047.53,"16,071,646,996",144823993562,-0.019236
2363,2019-10-17,8047.81,8134.83,8000.94,8103.91,"14,313,052,244",145853994298,0.007006

In [4]:
# inc = df.close > df.open
# dec = df.open > df.close
# w = 12*60*60*1000 # half day in ms

# TOOLS = "pan,wheel_zoom,box_zoom,reset,save"

# p = figure(x_axis_type="datetime", tools=TOOLS, plot_width=1000, title = "MSFT Candlestick")
# p.xaxis.major_label_orientation = pi/4
# p.grid.grid_line_alpha=0.3

# p.segment(df.date, df.high, df.date, df.low, color="black")
# p.vbar(df.date[inc], w, df.open[inc], df.close[inc], fill_color="#D5E1DD", line_color="black")
# p.vbar(df.date[dec], w, df.open[dec], df.close[dec], fill_color="#F2583E", line_color="black")

# output_file("candlestick.html", title="candlestick.py example")

# show(p)

In [5]:
ethereum = pd.read_csv("ethereum.csv",thousands=',')
ethereum.columns = ("date","open","high","low","close","volume","market_cap")
ethereum = ethereum.reindex(index=ethereum.index[::-1])
ethereum = ethereum.reset_index(drop=True)
ethereum["date"] = pd.to_datetime(ethereum["date"], format='%b %d, %Y')
delta = (ethereum["date"][0] - df["date"][0]).days
ext = {'date': df["date"][0:delta], 'open': [None]*delta,'high': [None]*delta,'low': [None]*delta,'close': [None]*delta,'volume': [None]*delta,'market_cap': [None]*delta}
ext = pd.DataFrame(data=ext)
frame = [ext,ethereum]
ethereum = pd.concat(frame)
ethereum = ethereum.reset_index()
x=0
day = []
while x<2364:
    day.append(ethereum["date"][x].day)
    x = x+1
ethereum["days"] = day
returns = ethereum.loc[(ethereum["days"]==1)]
# monthly_returns = returns["close"].pct_change()
returns["monthly_returns"] = returns["close"].pct_change()
ethereum_returns = returns[["monthly_returns"]]
del returns
ethereum_returns = ethereum_returns.reset_index(drop=True)
ethereum_returns

C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    monthly_returns
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
..              ...
73         0.650230
74         0.106447
75        -0.258241
76        -0.212020
77         0.033269

[78 rows x 1 columns]

In [6]:
ripple = pd.read_csv("ripple.csv",thousands=',')
ripple.columns = ("date","open","high","low","close","volume","market_cap")
ripple = ripple.reindex(index=ripple.index[::-1])
ripple = ripple.reset_index()
ripple = ripple.drop(["index"],axis=1)
ripple["date"] = pd.to_datetime(ripple["date"], format='%b %d, %Y')

ripple = ripple.reset_index(drop=True)
x=0
day = []
while x<len(ripple["date"]):
    day.append(ripple["date"][x].day)
    x = x+1
ripple["days"] = day
delta
returns = ripple.loc[(ripple["days"]==1)]
returns["monthly_returns"] = returns["close"].pct_change()
ripple_returns = returns[["date","monthly_returns"]]
del returns

ext_in = {'date': ['2013-05-01','2013-06-01','2013-07-01','2013-08-01'],
        'monthly_returns': [None]*4
        }
ext = pd.DataFrame(data = ext_in)
ext["date"] = pd.to_datetime(ext["date"], format='%Y-%m-%d')
ripple_returns = pd.concat([ext,ripple_returns])
del ripple_returns["date"]
ripple_returns = ripple_returns.reset_index(drop=True)
delta = (ripple["date"][0] - df["date"][0]).days
ext = {'date': ripple["date"][0:delta], 'open': [None]*delta,'high': [None]*delta,'low': [None]*delta,'close': [None]*delta,'volume': [None]*delta,'market_cap': [None]*delta}
ext = pd.DataFrame(data=ext)
frame = [ext,ripple]
ripple = pd.concat(frame)
ripple = ripple.reset_index(drop=True)
ripple

C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:33: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,close,date,days,high,low,market_cap,open,volume
0,NaN,2013-08-04,NaN,NaN,NaN,None,NaN,None
1,NaN,2013-08-05,NaN,NaN,NaN,None,NaN,None
2,NaN,2013-08-06,NaN,NaN,NaN,None,NaN,None
3,NaN,2013-08-07,NaN,NaN,NaN,None,NaN,None
4,NaN,2013-08-08,NaN,NaN,NaN,None,NaN,None
...,...,...,...,...,...,...,...,...
2359,0.277765,2019-10-13,13.0,0.281705,0.272383,11990204703,0.273129,"1,176,911,158"
2360,0.296523,2019-10-14,14.0,0.296590,0.276666,12799942425,0.277626,"1,685,629,956"
2361,0.288702,2019-10-15,15.0,0.298265,0.284174,12462323338,0.296438,"1,686,563,830"
2362,0.284640,2019-10-16,16.0,0.292086,0.280962,12286985753,0.288895,"1,626,378,642"
2363,0.302315,2019-10-17,17.0,0.302481,0.282608,13049972343,0.284556,"1,807,694,164"

In [7]:
litecoin = pd.read_csv("litecoin.csv",thousands=',')
litecoin = litecoin.dropna(axis=0, how='all')
litecoin.columns = ("date","open","high","low","close","volume","market_cap")
litecoin = litecoin.reindex(index=litecoin.index[::-1])
litecoin = litecoin.reset_index()
litecoin = litecoin.drop(["index"],axis=1)
litecoin["date"] = pd.to_datetime(litecoin["date"], format='%b %d, %Y')
x=0
day = []
while x<2364:
    day.append(litecoin["date"][x].day)
    x = x+1

litecoin["days"] = day
returns = litecoin.loc[(litecoin["days"]==1)]
monthly_returns = returns["close"].pct_change()
returns["monthly_returns"] = returns["close"].pct_change()
litecoin_returns = returns[["monthly_returns"]]
del returns
litecoin_returns = litecoin_returns.reset_index(drop=True)
litecoin

C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           date   open   high    low  close         volume  market_cap  days
0    2013-04-28   4.30   4.40   4.18   4.35              -    74636938    28
1    2013-04-29   4.37   4.57   4.23   4.38              -    75388964    29
2    2013-04-30   4.40   4.57   4.17   4.30              -    74020918    30
3    2013-05-01   4.29   4.36   3.52   3.80              -    65604596     1
4    2013-05-02   3.78   4.04   3.01   3.37              -    58287979     2
...         ...    ...    ...    ...    ...            ...         ...   ...
2359 2019-10-13  55.94  57.73  55.88  56.71  2,235,957,909  3599137699    13
2360 2019-10-14  56.72  57.33  56.48  56.98  2,243,495,397  3616122089    14
2361 2019-10-15  57.01  57.37  54.71  54.94  2,602,960,066  3487585899    15
2362 2019-10-16  54.99  55.55  52.17  52.92  2,978,803,244  3359652970    16
2363 2019-10-17  52.90  55.13  52.35  54.88  2,925,315,824  3484535289    17

[2364 rows x 8 columns]

In [8]:
gold_daily_price = pd.read_csv("gold_daily_price_2.csv",thousands=',')
del gold_daily_price["Unnamed: 0"]
gold_daily_price.columns = ("date","close")
gold_daily_price["date"] = pd.to_datetime(gold_daily_price["date"], format='%Y-%m-%d')
gold_monthly_return = pd.read_csv("gold_monthly_return.csv",thousands=',')
gold_monthly_return = gold_monthly_return[["date","monthly_return"]]
gold_monthly_return["date"] = pd.to_datetime(gold_monthly_return["date"], format='%b-%y')
gold_monthly_return['monthly_return'] = gold_monthly_return['monthly_return'].str.rstrip('%').astype('float') / 100.0
gold_daily_price

           date   close
0    2013-04-28  1467.4
1    2013-04-29  1467.4
2    2013-04-30  1472.2
3    2013-05-01  1446.3
4    2013-05-02  1467.7
...         ...     ...
2359 2019-10-13  1488.7
2360 2019-10-14  1497.6
2361 2019-10-15  1483.5
2362 2019-10-16  1494.0
2363 2019-10-17  1498.3

[2364 rows x 2 columns]

In [9]:
treasury_daily_price = pd.read_csv("treasury_daily_price_2.csv",thousands=',')
del treasury_daily_price["Unnamed: 0"]
treasury_daily_price.columns = ("date","close")
treasury_daily_price["date"] = pd.to_datetime(treasury_daily_price["date"], format='%Y-%m-%d')

In [10]:
treasury_monthly_return = pd.read_csv("treasury_monthly_return3.csv",thousands=',')
del treasury_monthly_return["Unnamed: 0"]
treasury_monthly_return["date"] = pd.to_datetime(treasury_monthly_return["date"])
# treasury_monthly_return = treasury_monthly_return.where(pd.notnull(treasury_monthly_return), None)
treasury_monthly_return

         date  monthly_return
0  2013-01-05             NaN
1  2013-01-06             NaN
2  2013-01-07          0.0406
3  2013-01-08          0.0777
4  2013-01-09         -0.0624
..        ...             ...
73 2019-01-06         -0.0591
74 2019-01-07          0.0000
75 2019-01-08         -0.2531
76 2019-01-09          0.1127
77 2019-01-10          0.0588

[78 rows x 2 columns]

In [11]:
bond_index = pd.read_csv("bond_index.csv")
bond_index["date"] = pd.to_datetime(bond_index["date"])
del bond_index["Unnamed: 0"]
bond_index["return"] = bond_index["close"].pct_change()
x = 1
while x<len(bond_index["date"]):
    if bond_index["return"][x] == 0:
        bond_index["return"][x] = bond_index["return"][x-1]
    x = x+1
    
# bond_index = bond_index.where(pd.notnull(bond_index), None)
    
bond_index

C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           date   close    return
0    2013-04-28  376.35       NaN
1    2013-04-29  376.35       NaN
2    2013-04-30  376.27 -0.000213
3    2013-05-01  377.17  0.002392
4    2013-05-02  377.47  0.000795
...         ...     ...       ...
2359 2019-10-13  482.80 -0.003385
2360 2019-10-14  482.80 -0.003385
2361 2019-10-15  482.74 -0.000124
2362 2019-10-16  483.50  0.001574
2363 2019-10-17  483.62  0.000248

[2364 rows x 3 columns]

In [12]:
x=0
day = []
while x<2364:
    day.append(bond_index["date"][x].day)
    x = x+1
bond_index["days"] = day
returns = bond_index.loc[(bond_index["days"]==1)]
# monthly_returns = returns["close"].pct_change()
returns["monthly_returns"] = returns["close"].pct_change()
bond_index_returns = returns[["monthly_returns"]]
bond_index_returns = bond_index_returns.reset_index(drop=True)
del returns
# bond_index_returns = bond_index_returns.where(pd.notnull(bond_index_returns), None)
bond_index_returns

C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

    monthly_returns
0               NaN
1         -0.024101
2         -0.024207
3          0.000807
4          0.000111
..              ...
73         0.014306
74         0.022306
75         0.012544
76         0.023247
77        -0.005203

[78 rows x 1 columns]

In [13]:
equity_index = pd.read_csv("equity_index.csv")
equity_index["date"] = pd.to_datetime(equity_index["date"])
del equity_index["Unnamed: 0"]
equity_index["return"] = equity_index["close"].pct_change()
x = 1
while x<len(equity_index["date"]):
    if equity_index["return"][x] == 0:
        equity_index["return"][x] = equity_index["return"][x-1]
    x = x+1
equity_index = equity_index.append(pd.Series(), ignore_index=True)
equity_index["date"][2363] = equity_index["date"][2362] + timedelta(days=1)
# equity_index = equity_index.where(pd.notnull(equity_index), None)
equity_index

C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

           date        close    return
0    2013-04-28  1593.609985       NaN
1    2013-04-29  1593.609985       NaN
2    2013-04-30  1597.569946  0.002485
3    2013-05-01  1582.699951 -0.009308
4    2013-05-02  1597.589966  0.009408
...         ...          ...       ...
2359 2019-10-13  2970.270020  0.010939
2360 2019-10-14  2966.149902 -0.001387
2361 2019-10-15  2995.679932  0.009956
2362 2019-10-16  2989.689941 -0.002000
2363 2019-10-17          NaN       NaN

[2364 rows x 3 columns]

In [14]:
x=0
day = []
while x<2364:
    day.append(equity_index["date"][x].day)
    x = x+1
equity_index["days"] = day
returns = equity_index.loc[(equity_index["days"]==1)]
# monthly_returns = returns["close"].pct_change()
returns["monthly_returns"] = returns["close"].pct_change()
equity_index_returns = returns[["monthly_returns"]]
equity_index_returns = equity_index_returns.reset_index(drop=True)
del returns
# equity_index_returns = equity_index_returns.where(pd.notnull(equity_index_returns), None)
equity_index_returns

C:\Users\Jack Ragless\Anaconda3\envs\bitcoinproj\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

    monthly_returns
0               NaN
1          0.030353
2         -0.009677
3          0.056912
4         -0.043296
..              ...
73        -0.058716
74         0.077131
75        -0.003633
76        -0.009175
77         0.004712

[78 rows x 1 columns]

In [15]:
nullArr3 = [None]*9
annotation_table = pd.read_csv("annotations_table2.csv")
del annotation_table["Unnamed: 0"]
annotation_table["date"] = pd.to_datetime(annotation_table["date"])
annotation_table_empty = annotation_table.copy()
annotation_table_empty["close"] = nullArr3
annotation_table_empty["event_des"] = nullArr3
annotation_table_empty["ref"] = nullArr3
annotation_table_empty["img_path"] = nullArr3

annotation_source = ColumnDataSource(data = annotation_table_empty)

In [16]:
prices_cryptos = pd.concat([df["date"],df["close"],ethereum["close"],ripple["close"],litecoin["close"]],axis=1)
prices_cryptos.columns = ["date","bitcoin","ethereum","ripple","litecoin"]
corr = prices_cryptos.corr()
corr_re = pd.DataFrame(corr.stack(), columns=["correlation"]).reset_index()

prices_safe = pd.concat([df["date"],df["close"],gold_daily_price["close"],treasury_daily_price["close"]],axis=1)
prices_safe.columns = ["date","bitcoin","gold futures","US treasury bonds (10-yr)"]
corr2 = prices_safe.corr()
corr_re2 = pd.DataFrame(corr2.stack(), columns=["correlation"]).reset_index()

prices_indexes = pd.concat([df["date"],df["close"],equity_index["close"],bond_index["close"]],axis=1)
prices_indexes.columns = ["date","bitcoin","S&P500 Equity","S&P500 Bond"]
corr3 = prices_indexes.corr()
corr_re3 = pd.DataFrame(corr3.stack(), columns=["correlation"]).reset_index()


source = ColumnDataSource(corr_re)
mapper = LinearColorMapper(palette=Magma256, low=1, high=0)
tooltips = [
    ("correlation", "@correlation{0.3f}")]
corr_re


corr_columns = corr.columns.tolist()
corr_columns2 = corr2.columns.tolist()
corr_columns3 = corr3.columns.tolist()

hm = figure(title="Correlation Heatmap", tooltips=tooltips, toolbar_location="right", tools="reset,save,help",
            x_range = corr_columns, y_range=corr_columns, plot_width=450, plot_height=450)
    
hm.rect(x="level_0", y="level_1", width=1, height=1, source=source,
            line_color="black", line_alpha=0.3 ,fill_color=transform("correlation",mapper))
color_bar = ColorBar(color_mapper=mapper, location=(0, 0),
                     ticker=BasicTicker(desired_num_ticks=10)) 

hm.add_layout(color_bar, 'right')
hm.axis.axis_line_color = None
hm.axis.major_tick_line_color = None
hm.axis.major_label_text_font_size = "10pt"
hm.axis.major_label_standoff = 0
hm.xaxis.major_label_orientation = 1

In [17]:
nullArr = [None]*2364
nullArr2 = [None]*78
# main_returns = pd.concat([bitcoin_returns,ethereum_returns,ripple_returns,litecoin_returns],axis=1)
layout2 = {'date':bitcoin_returns["date"],'bitcoin':bitcoin_returns["monthly_returns"],'var1':nullArr2,'var2':nullArr2,'var3':nullArr2}
temp_returns = pd.DataFrame(data=layout2)
temp_returns

         date   bitcoin  var1  var2  var3
0  2013-05-01       NaN  None  None  None
1  2013-06-01  0.105223  None  None  None
2  2013-07-01 -0.319026  None  None  None
3  2013-08-01  0.181147  None  None  None
4  2013-09-01  0.330192  None  None  None
..        ...       ...   ...   ...   ...
73 2019-06-01  0.585137  None  None  None
74 2019-07-01  0.235767  None  None  None
75 2019-08-01 -0.017335  None  None  None
76 2019-09-01 -0.061704  None  None  None
77 2019-10-01 -0.144978  None  None  None

[78 rows x 5 columns]

In [18]:
layout = {'date':df["date"],'bitcoin':df["close"],'var1':nullArr,'var2':nullArr,'var3':nullArr}
temp = pd.DataFrame(data=layout)
main_source = ColumnDataSource(data=temp)
temp

           date  bitcoin  var1  var2  var3
0    2013-04-28   134.21  None  None  None
1    2013-04-29   144.54  None  None  None
2    2013-04-30   139.00  None  None  None
3    2013-05-01   116.99  None  None  None
4    2013-05-02   105.21  None  None  None
...         ...      ...   ...   ...   ...
2359 2019-10-13  8321.01  None  None  None
2360 2019-10-14  8374.69  None  None  None
2361 2019-10-15  8205.37  None  None  None
2362 2019-10-16  8047.53  None  None  None
2363 2019-10-17  8103.91  None  None  None

[2364 rows x 5 columns]

In [19]:
google = pd.read_csv("google_trend.csv")
google["date"] = pd.to_datetime(google["date"])
google_empty = google.copy()
google_empty["pop"] = nullArr2
bar_source = ColumnDataSource(google_empty.to_dict('series'))
google_empty

         date   pop
0  2013-05-01  None
1  2013-06-01  None
2  2013-07-01  None
3  2013-08-01  None
4  2013-09-01  None
..        ...   ...
73 2019-06-01  None
74 2019-07-01  None
75 2019-08-01  None
76 2019-09-01  None
77 2019-10-01  None

[78 rows x 2 columns]

In [20]:
output_file('line.html', mode='inline')
plot = figure(title = "Historical Bitcoin Figures",x_axis_label = "Date",y_axis_label="Closing Price($USD)",plot_width=1000,plot_height=500,x_axis_type='datetime')
# plot = figure(title = "Daily Bitcoin Closing Price",x_axis_label = "Date",y_axis_label="Closing Price of bitcoin ($USD)",plot_width=1200,plot_height=600)

In [21]:

line1 = plot.line('date', 'bitcoin', line_width=1, line_color='green',source=main_source)
circle1 = plot.circle('date', 'bitcoin', fill_color="green", line_color='green', size=2,source=main_source)

line2 = plot.line('date', 'var1', line_width=1, line_color='orange',source=main_source)
circle2 = plot.circle('date', 'var1', fill_color="orange", line_color='orange', size=2,source=main_source)

line3 = plot.line('date', 'var2', line_width=1, line_color='blue',source=main_source)
circle3 = plot.circle('date', 'var2', fill_color="blue", line_color='blue', size=2,source=main_source)

line4 = plot.line('date', 'var3', line_width=1, line_color='black',source=main_source)
circle4 = plot.circle('date', 'var3', fill_color="black", line_color='black', size=2,source=main_source)

plot.extra_y_ranges = {"google": Range1d(start=-5, end=100)}
google_yaxis = LinearAxis(y_range_name="google", axis_label="Google searches for 'bitcoin'")
plot.add_layout(google_yaxis, 'right')
search_bars = plot.vbar(x="date", top="pop", width=40, alpha=1, source = bar_source,y_range_name="google")
google_yaxis.visible = False


annotations = plot.circle('date', 'close', fill_color="red", line_color='red', size=10,source=annotation_source)

legend = Legend(items=[
    ("Bitcoin"   , [line1,circle1]),
], location=(0, 0))

plot.add_layout(legend, 'center')

range_select = RangeSlider(start = 0, end = 2363, value = (0, 2363), step = 1, title = 'Index Version')

In [22]:
hover = HoverTool(formatters={'date': 'datetime'})
hover.tooltips = """
<div style=padding=5px>Date:@date{%Y-%m-%d}</div>
<div style=padding=5px>Bitcoin:@bitcoin{1.11}</div>
"""
plot.add_tools(hover)

In [23]:
def update(attr, old, new):
    if return_toggle.active==1:
        tempdf = temp_returns
        start = int(range_select.value[0])
        end = int(range_select.value[1])
        main_source.data = temp_returns[start:end].to_dict('series')
    else:
        start = int(range_select.value[0])
        end = int(range_select.value[1])
        main_source.data = temp[start:end].to_dict('series')

In [24]:
range_select.on_change('value', update)

In [25]:
menu = Select(options=['Bitcoin/$USD', 'Cryptocurrencies','Safe-Haven Assets',"Indexes","Exogenous Factors"], value='Bitcoin/$USD', title='Datasets')

In [26]:
def menuPlot(attr, old, new):
    return_toggle.visible = True
    annotation_source.data = annotation_table_empty.to_dict('series')
    bar_source.data = google_empty.to_dict('series')
    google_yaxis.visible = False
    hm_toggle.visible = True
    hm.visible = True
    data_table.visible = False
    
    if menu.value == "Bitcoin/$USD":
        temp["var1"] = nullArr
        temp["var2"] = nullArr
        temp["var3"] = nullArr
        temp_returns["var1"] = nullArr2
        temp_returns["var2"] = nullArr2
        temp_returns["var3"] = nullArr2
        plot.title.text = "Historical Bitcoin Figures"
        plot.legend.items =[
        ("Bitcoin"   , [line1,circle1]),
        ]
        if return_toggle.active == 1:
            main_source.data = temp_returns.to_dict('series')
        else: 
            main_source.data = temp.to_dict('series')
        source.data = corr_re
        hm.x_range.factors = corr_columns
        hm.y_range.factors = corr_columns
        cur_hm_df = prices_cryptos
        
        hover.tooltips = """
        <div style=padding=5px>Date:@date{%Y-%m-%d}</div>
        <div style=padding=5px>Bitcoin:@bitcoin{1.11}</div>
        """
        hm_toggle.visible = False
        hm.visible = False
        data_table.visible = True
        
    if menu.value == "Cryptocurrencies":
        temp["var1"] = ethereum["close"]
        temp["var2"] = ripple["close"]
        temp["var3"] = litecoin["close"]
        temp_returns["var1"] = ethereum_returns
        temp_returns["var2"] = ripple_returns
        temp_returns["var3"] = litecoin_returns  
        plot.title.text = "Bitcoin vs Other Cryptocurrencies"
        plot.legend.items = [
        ("Bitcoin"   , [line1,circle1]),
        ("Ethereum" , [line2,circle2]),
        ("Ripple(XRP)" , [line3,circle3]),
        ("Litecoin" , [line4,circle4])
        ]
        if return_toggle.active == 1:
            main_source.data = temp_returns.to_dict('series')
        else: 
            main_source.data = temp.to_dict('series')
        source.data = corr_re
        hm.x_range.factors = corr_columns
        hm.y_range.factors = corr_columns
        cur_hm_df = prices_cryptos
        
        hover.tooltips = """
        <div style=padding=5px>Date:@date{%Y-%m-%d}</div>
        <div style=padding=5px>Bitcoin:@bitcoin{1.11}</div>
        <div style=padding=5px>Ethereum:@var1{1.11}</div>
        <div style=padding=5px>Ripple:@var2{1.11}</div>
        <div style=padding=5px>Litecoin:@var3{1.11}</div>
        """
        
    if menu.value == "Safe-Haven Assets":
        temp["var1"] = gold_daily_price["close"]
        temp["var2"] = treasury_daily_price["close"]
        temp["var3"] = nullArr
        temp_returns["var1"] = gold_monthly_return["monthly_return"]
        temp_returns["var2"] = treasury_monthly_return["monthly_return"]
        temp_returns["var3"] = nullArr2
        plot.title.text = "Bitcoin vs Traditional Safe-Haven Assets"
        plot.legend.items =[
        ("Bitcoin"   , [line1,circle1]),
        ("Gold Futures" , [line2,circle2]),
        ("US Treasury Bills(10-yr)" , [line3,circle3]),
        ]
        if return_toggle.active == 1:
            main_source.data = temp_returns.to_dict('series')
        else: 
            main_source.data = temp.to_dict('series')
        source.data = corr_re2
        hm.x_range.factors = corr_columns2
        hm.y_range.factors = corr_columns2
        cur_hm_df = prices_safe
        hover.tooltips = """
        <div style=padding=5px>Date:@date{%Y-%m-%d}</div>
        <div style=padding=5px>Bitcoin:@bitcoin{1.11}</div>
        <div style=padding=5px>Gold:@var1{1.11}</div>
        <div style=padding=5px>T-Bill:@var2{1.11}</div>
        """
        
    if menu.value == "Indexes":
        temp["var1"] = equity_index["close"]
        temp["var2"] = bond_index["close"]
        temp["var3"] = nullArr
        temp_returns["var1"] = equity_index_returns["monthly_returns"]
        temp_returns["var2"] = bond_index_returns["monthly_returns"]
        temp_returns["var3"] = nullArr2
        plot.title.text = "Bitcoin vs Broad Market Indexes"
        plot.legend.items =[
        ("Bitcoin"   , [line1,circle1]),
        ("S&P 500 Equity US" , [line2,circle2]),
        ("S&P 500 Bond US" , [line3,circle3]),
        ]
        if return_toggle.active == 1:
            main_source.data = temp_returns.to_dict('series')
        else: 
            main_source.data = temp.to_dict('series')
        source.data = corr_re3
        hm.x_range.factors = corr_columns3
        hm.y_range.factors = corr_columns3
        cur_hm_df = prices_indexes
        hover.tooltips = """
        <div style=padding=5px>Date:@date{%Y-%m-%d}</div>
        <div style=padding=5px>Bitcoin:@bitcoin{1.11}</div>
        <div style=padding=5px>Equities:@var1{1.11}</div>
        <div style=padding=5px>Bonds:@var2{1.11}</div>
        """
        
    if menu.value == "Exogenous Factors":
        tempdf = google
        bar_source.data = tempdf.to_dict('series')
        return_toggle.active = 0
        temp["var1"] = nullArr
        temp["var2"] = nullArr
        temp["var3"] = nullArr
        temp_returns["var1"] = nullArr2
        temp_returns["var2"] = nullArr2
        temp_returns["var3"] = nullArr2
        if return_toggle.active == 1:
            main_source.data = temp_returns.to_dict('series')
        else: 
            main_source.data = temp.to_dict('series')
        plot.title.text = "Exogenous Factors"
        tempdf = annotation_table
        annotation_source.data = tempdf.to_dict('series')
#         annotations.visible = True
        hover.tooltips = """
    <div>
        <div>

        </div>
        <div>
            <span style="font-size: 17px; font-weight: bold;">@date{%Y-%m-%d}</span>
            
        </div>
        <div>
            <span>@event_des</span>
            <br>@ref</br>
        </div>
    </div>
"""

        hover.renderers=[annotations]
        return_toggle.visible = False

        google_yaxis.visible = True
        
        plot.legend.items =[
        ("Bitcoin"   , [line1,circle1]),
        ("Major Events" , [annotations]),
        ("Google Searches" , [search_bars]),
        ]
        
    convert2(attr, old, new)

In [27]:
menu.on_change('value', menuPlot)

In [28]:
return_toggle = RadioButtonGroup(
        labels=["Daily Prices", "Monthly Returns"], active=0)

In [29]:
def convert(attr, old, new): 
    if return_toggle.active == 1:
        range_select.end = 77
        range_select.value = (0,77)
        tempdf2 = temp_returns
        main_source.data = tempdf2
        plot.yaxis.axis_label = "Monthly Return(%)"

    elif return_toggle.active== 0:
        range_select.end = 2363
        range_select.value = (0,2363)
        tempdf2 = temp
        main_source.data = tempdf2.to_dict('series')
        plot.yaxis.axis_label ="Closing Price($USD)"

In [30]:
return_toggle.on_change('active', convert)

In [31]:
hm_toggle = RadioButtonGroup(
        labels=["Max","5 Yrs","1 Yr","6 Mth","3 Mth","1 Mth"], active=0)

In [32]:
def convert2(attr, old, new): 
    if menu.value == "Bitcoin/$USD":
        tempdf3 = prices_cryptos
    elif menu.value == "Cryptocurrencies":
        tempdf3 = prices_cryptos
    elif menu.value == "Safe-Haven Assets":
        tempdf3 = prices_safe
    elif menu.value == "Indexes":
        tempdf3 = prices_indexes
    if hm_toggle.active == 0:
        tempdf3_corr = tempdf3.corr()
        tempdf3_corr_re = pd.DataFrame(tempdf3_corr.stack(), columns=["correlation"]).reset_index()
        source.data = tempdf3_corr_re
    elif hm_toggle.active== 1:
        tempdf3 = tempdf3[(len(tempdf3)-1825):]
        tempdf3_corr = tempdf3.corr()
        tempdf3_corr_re = pd.DataFrame(tempdf3_corr.stack(), columns=["correlation"]).reset_index()
        source.data = tempdf3_corr_re
    elif hm_toggle.active== 2:
        tempdf3 = tempdf3[(len(tempdf3)-365):]
        tempdf3_corr = tempdf3.corr()
        tempdf3_corr_re = pd.DataFrame(tempdf3_corr.stack(), columns=["correlation"]).reset_index()
        source.data = tempdf3_corr_re
    elif hm_toggle.active== 3:
        tempdf3 = tempdf3[(len(tempdf3)-186):]
        tempdf3_corr = tempdf3.corr()
        tempdf3_corr_re = pd.DataFrame(tempdf3_corr.stack(), columns=["correlation"]).reset_index()
        source.data = tempdf3_corr_re
    elif hm_toggle.active== 4:
        tempdf3 = tempdf3[(len(tempdf3)-93):]
        tempdf3_corr = tempdf3.corr()
        tempdf3_corr_re = pd.DataFrame(tempdf3_corr.stack(), columns=["correlation"]).reset_index()
        source.data = tempdf3_corr_re
    elif hm_toggle.active== 5:
        tempdf3 = tempdf3[(len(tempdf3)-31):]
        tempdf3_corr = tempdf3.corr()
        tempdf3_corr_re = pd.DataFrame(tempdf3_corr.stack(), columns=["correlation"]).reset_index()
        source.data = tempdf3_corr_re

In [33]:
hm_toggle.on_change('active', convert2)

In [34]:
columns = [
        TableColumn(field="date", title="Date"),
        TableColumn(field="close", title="Price/$USD"),
        TableColumn(field="spread", title="24hr Spread"),
        TableColumn(field="supply", title="Total Supply"),
        TableColumn(field="market_cap", title="Market Cap")
        
    ]
data_table = DataTable(source=master_source, columns=columns, width=600, height=635)

In [35]:
hm_toggle.visible = False
hm.visible = False

In [36]:
line_layout = column(menu,return_toggle,plot,range_select)
hm_layout = column(hm_toggle,hm,data_table)
curdoc().add_root(row(line_layout,hm_layout))
curdoc().title = "Project 2 Grand Challenges"